<div>
    <mat-toolbar color="primary">
        <span class="app-title">Digikaz Test App</span>

        <span class="example-spacer"></span>

        <button mat-button (click)="navigateToHome()">
            Home
        </button>

        <button mat-button (click)="navigateToUsers()">
            Users
        </button>

        <button mat-button (click)="navigateToPosts()">
            Posts
        </button>
        <span class="example-spacer"></span>

        <button mat-button (click)="navigateToLogout()">
            <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        </button>
    </mat-toolbar>
</div>